[submodule "thirdparty/langfuse"]
	path = thirdparty/langfuse
	url = https://github.com/omnizen-ai/langfuse.git
[submodule "thirdparty/ai"]
	path = thirdparty/ai
	url = git@github.com:omnizen-ai/ai.git
